html{
  text-align: center;
  font-family: Helvetica;
}

#header{
  background-image: url("../images/the-flatiron-building.png");
  color:white;
}

#header h1{
  font-size: 70px;
  font-weight: bold;
}

#header a{
  font-size: 18px;
  color: white;
}

h2{
  font-size: 32px;
  font-weight: bold;
}

h3{
  font-size: 23px;
  font-weight: bold;
}

#body p{
 font-size: 14px;
}

h4{
    background-image: url("../images/the-flatiron-building.png");
    font-size: 23px;
    font-weight: bold;
    color: white;
}

#bottomnav{
  color:white;
  font-size: 11px;
  background-color: dimgray;
  text-align: left;
}

#bottomnav a{
  font-size: 18px;
  color: white;
}
